body {
  margin: 0;
  color: #333;
  word-break: keep-all;
}

h1 {
  margin: 0;
}
h2 {
  font-size: 2rem;
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  line-height: 1.5;
  margin: 0;
}

::-webkit-scrollbar {
  height: 5px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #9E804A;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff;
}
