body {
  margin: 0;
  color: #333;
  word-break: keep-all;
  overflow: overlay;
  /* background-color: #F5F2ED; */
}

h1 {
}
h2 {
  font-size: 2rem;
}
h3 {
}
p {
  line-height: 1.5;
}

::-webkit-scrollbar {
  height: 5px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
th, td {
  padding: 1.5em 0;
  border-bottom: 1px solid #999;
}
th {
  font-weight: 700;
  width: 25%;
}
td {
  width: 65%;
}
